* {
    background-color: rgb(92, 91, 91);
    text-align: center;
}

button {
    height: 50%;
    width: 20%;

    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    
    background-color: rgb(97, 194, 72);
    font-family: 'Times New Roman', serif;
    font-size: 2em;
}

button:hover {
    background-color: rgb(82, 144, 67);
    transform: scale(1.1);
}

.letterGuess {
    vertical-align: middle;
    display: inline-block;
    line-height: 8rem;

    border-radius: 2rem;
    margin: .1em;

    width: 8rem;
    height: 8rem;

    font-size: 4rem;
}

.green {
    background-color: rgb(97, 194, 72);
}

.yellow {
    background-color: rgb(241, 239, 69);
}

.gray {
    background-color: gray;
}

.border {
    border-style: solid;
}

.red {
    animation-duration: 1s;
    animation-name: errorAnim;
}


@keyframes errorAnim {
    from {
        background-color: red;
    }

    to {
        background-color: gray;
    }
}

#game {
    position: relative;
}

#playagain {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 25%;
    left: 0;
    z-index: 9;

    
}