* {
    background-color: rgb(49, 49, 49);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(246, 246, 246);
}

button {
    height: 50%;
    width: 20%;

    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    
    background-color: rgb(77, 202, 45);
    font-size: 2em;
}

button:hover {
    background-color: rgb(35, 153, 6);
    transform: scale(1.1);
}

.letterGuess {
    vertical-align: middle;
    display: inline-block;
    line-height: 8rem;

    border-radius: 1.5rem;
    margin: .1em;

    width: 8rem;
    height: 8rem;

    font-size: 4rem;
}

.green {
    background-color: rgb(77, 202, 45);
}

.yellow {
    background-color: rgb(236, 226, 79);
}

.gray {
    background-color: rgb(80, 79, 79);
}

.border {
    border-style: solid;
}

.red {
    animation-duration: 1s;
    animation-name: errorAnim;
}


@keyframes errorAnim {
    from {
        background-color: red;
    }

    to {
        background-color: gray;
    }
}

#game {
    position: relative;
}

#playagain {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 25%;
    left: 0;
    z-index: 9;
}